:root {
    --grid-columns: 1;
    --grid-rows: 1;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 20px;
}

.container{
    border: solid 1px black;
    height: 560px;
    width: 560px;
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.grid-box{
    border : solid 1px grey;
    
}

.color-change{
    background-color: hotpink;
}

